 /* responsive for MOBILE PHONE */
 /* MOBILE IFRST APPROACH  */
/*-------------------------*/
/*    Varaibles & Mixins   */

@import 'variables';
@import 'mixins';


/* -----------------------*/
::-moz-selection  {   
color:green;
 background: yellow;
}
::selection   {  
   color:green;  
 background: yellow;
}
a:link,
a:visited,
button {
    transition: all .25s ease
}
body,
ol,
ul {
    line-height: 1.4;
    list-style:none; 
    padding:0; 
li a{ text-decoration: none;}
} 
 
* {
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box
} 
 body {   
   margin:0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;   
  }

header,footer{
background:yellow; 
  display: flex; 
  flex-flow: column wrap; 
  justify-content: space-between;  
  text-align:center;
}
    main #res{
       @include x-multiple-colored-gradient(
          'top',
          #f22 0%,
          #f2f 15%,
          #22f 30%,
          #2ff 45%,
          #2f2 60%,
          #2f2 75%,
          #ff2 90%,
          #f22 100%
      ); 
    }
main{  
   display: flex;  
        flex-flow: column ;   
   flex:1;  
} 
  main  ul  {     
 display: flex;
 flex-flow: column;
    flex:1; 
    align-items: flex-start;  
 justify-content: space-between;
 li{   background: darkred; margin:3px; color:white; }
  } 
 
 
header nav  {      
   display: flex; 
     flex-flow: column  nowrap;   
    }
 
nav ul {
 /*  
   flex-flow: row wrap;  */
    display: flex;     
        flex-flow: column  nowrap;   
  li{
    background: lightgreen; margin:3px;
  }
   .on  {
  background: magenta;
}
}
 
footer{
  font-size: 0.8em;  
 ul li{ margin: 0;}
}
nav  ul li{ margin: 0;}
/* hide show image details 
 .dt,
.show,
.hide:target {
  display: none;
}
.hide:target + .show,
.hide:target ~ .dt {
  display: block;
}
*/
 