@charset "UTF-8";
/*----------------------------------*/
/*  LEGGERO      LIGHT       LEGER  */
/*----------------------------------*/

/* more or less TABLET */
/*    Varaibles & Mixins   */

@import 'variables';
@import 'mixins';
/*----------*/
@media (min-width: 30em) { 
  header,footer{ 
  flex-flow: row wrap;   
   align-items:center; 
}
  nav ul{
     flex-flow: row  nowrap;   
  }
}
/* more or less DESKTOP */
@media (min-width: 60em) {   
   main{
   @include x-multiple-colored-gradient(
          'left',
          #f22 0%,
          #f2f 15%,
          #22f 30%,
          #2ff 45%,
          #2f2 60%,
          #2f2 75%,
          #ff2 90%,
          #f22 100%
      );
  }
  
    main ul {  
   flex-flow: row;
      align-items: flex-end;   
  }  

}
