<footer>
  <p class='created-by'>Cre avec ❤ par <a href='https://twitter.com/aldo_ferrari'>@aldo_ferrari</a> & <a href='https://twitter.com/Xouuox'>@Xouuox</a>.
    pour <a href='https://a-k-apart.com/'>10K apart</a> </p>
  <nav aria-label='Languages Navigation'>
    <ul>
     <li><a href='/'>EN</a></li>
      <li  class='on'><a href='#'>FR</a></li>
      <li><a href='#'>IT</a></li>
    </ul>
  </nav>
</footer>
