<html id='' lang='en'>

<head>
  
  <title><%= titleResult %></title>
     <% include meta-common %>
   <!-- build:css s/ry.css -->
   <!-- COUNT in the 10k -->
  <link rel='stylesheet' href='/styles/results_COUNT.css' media='only screen'>
  <!-- endbuild -->
  <!-- build:css s/rn.css -->
  <!-- DO NOT COUNT in the 10k -->
  <link rel='stylesheet' href='/styles/results_NOcount.css'>
  <!-- endbuild -->
</head>