<html lang='<%=lang%>'> 
<head>
   <% include meta-common %>
   <title><%= titleAbout %></title>
  <!-- build:css s/hy.css -->
   <!-- COUNT in the 10k -->
  <link rel='stylesheet' href='/styles/about_COUNT.css' media='only screen'>
  <!-- endbuild -->
  <!-- build:css s/hn.css -->
  <!-- DO NOT COUNT in the 10k -->
  <link rel='stylesheet' href='/styles/about_NOcount.css'>
  <!-- endbuild --> 
</head>