<header>
<% include logo %>
  <nav aria-label='Main Navigation'>
    <ul>
      <li class='on'><a href='#'><%= menuKolorize %></a></li>
      <li><a href='/<%= lang %>/about'><%= menuAbout %></a></li>
    </ul>
  </nav>
</header>
