<html lang='<%=lang%>'> 
<head>
      <% include meta-common %>
  <title><%= titleDisclaimer %></title>
  
  <!-- build:css s/hy.css -->
   <!-- COUNT in the 10k -->
  <link rel='stylesheet' href='/styles/disclaimer_COUNT.css' media='only screen'>
  <!-- endbuild -->
  <!-- build:css s/hn.css -->
  <!-- DO NOT COUNT in the 10k -->
  <link rel='stylesheet' href='/styles/disclaimer_NOcount.css'>
  <!-- endbuild -->
</head>