<header>
  <div class='logo' data-link-all>
    <h1 class='st-titl'><a href='#'>1OKolors</a></h1>
    <p class='st-subtitl'>No more secret Kolors in your images!</p>
  </div>
  <nav aria-label='Main Navigation'>
    <ul>
      <li class='on'><a href='#'>ColoriZe img</a></li>
      <li><a href='/load/1abc9c,3498db,9b59b6,34495e,7f8c8d,e67e22'>result1</a></li>
      <li><a href='#'>result2</a></li>
    </ul>
  </nav>

</header>
