<!DOCTYPE html>
<% include partials/head-about %>
  <body  >
    <% include partials/header-about %>
      <main>
        <div id=cont classs='lg'>
          <h1><%= aboutTitle %></h1> 
           <p><%- about %></p>
        </div>
      </main>
      <% include partials/footer %>
        <!-- build:js h/j.js -->
        <!--[if gt IE 8]><!-->
        <!--<![endif]-->
        <!-- endbuild -->
  </body>
  </html>
