<!DOCTYPE html>
<% include partials/head-disclaimer %>
  <body  >
    <% include partials/header-disclaimer %>
      <main>
        <div id=cont class='lg'>
          
          <h1><%= disclaimerTitle %></h1> 
          <p><%= disclaimer %></p>
        </div>
      </main>
      <% include partials/footer %>
  </body>
  </html>
