<!DOCTYPE html>
<% include partials/head %>
<body class="container">
  <% include partials/header %>
  <main> 
    <canvas id=c  >
      Your browser does not support the HTML5 canvas tag.
    </canvas>
  <div id="dropHere">
      FORM TO UPLOAD & Drag Drop 
      </div> 
  </main>  
  <% include partials/footer %>
  <!-- build:js h/j.js -->
  <!--[if gt IE 8]><!-->
  <script src='static/scripts/main.js' async defer='defer'></script>
  <script src='static/scripts/colorAnalysis.js'></script>
  <!--<![endif]-->
  <!-- endbuild --> 
</body>
</html>
