<!DOCTYPE html>
<% include partials/head %>
<body class="container">
  <% include partials/header %>
  <main>
    <div>
      FORM pour envoie image & Drag Drop
      </div>
  </main>
  <% include partials/footer %>
  <!-- build:js h/j.js -->
  <!--[if gt IE 8]><!-->
  <script src='scripts/main.js' async defer='defer'></script>
  <!--<![endif]-->
  <!-- endbuild -->
</body>
</html>
