<!DOCTYPE html>
<% include ../partials-en/head-about %> 
  <body  >
    <% include ../partials-en/header-about %>
      <main> 
        <div id=cont>
          <h1>10Kolors</h1>
          <p>Lorem ipsum</p>
        </div>
      </main> 
      <% include ../partials-en/footer %>
        <!-- build:js h/j.js -->
        <!--[if gt IE 8]><!--> 
        <!--<![endif]-->
        <!-- endbuild -->
  </body> 
  </html> 