<!DOCTYPE html>
<% include ../partials-en/head-home %> 
  <body >
    <% include ../partials-en/header-home %>
      <main>
        <canvas id=c>
          Your browser does not support the HTML5 canvas tag.
        </canvas>

        <div id=cont>
          <div id='dropHere'>
            <span> Browse an image or drag it here.</span>
            <input type='file' id=imgsel>
          </div>

          <form action='/screenshot' method='GET'> 
            <label for='cc'>Remote online image</label>
            <input type='text' class='input-l' id='cc' placeholder='http://'>
            <label for='scrSht'>Website Automatic Print-Screen</label>
            <input type='text' name='scrSht' id='scrSht' placeholder='any http:// website' />
            <button> Kolorise  </button>
          </form>
        </div>
      </main>


      <div id='screenshotResult'>
        <% if(typeof screenshotImg != 'undefined') { %>
          <img src='/static/screenshots/<%= screenshotImg %>' width=800 /> aaa
          <% } %>
      </div>


      <% include ../partials-en/footer %>
        <!-- build:js h/j.js -->
        <!--[if gt IE 8]><!-->
     <script src='static/scripts/main.js' async defer='defer'></script>  
        <script src='static/scripts/colorAnalysis.js'></script>
        <script src='static/scripts/takeScreenshot.js'></script>
        <!--<![endif]-->
        <!-- endbuild -->
  </body>

  </html> 