<!DOCTYPE html>
<% include ../partials-en/head-home %>
  <body >
    <noscript>
    <style type="text/css">
        #dropHere {display:none;}
    </style>
    <div class="noscriptmsg">
      You don't have javascript enabled. Please activate it for a full experience :D
    </div>
    </noscript>
    <% include ../partials-en/header-home %>
      <main>
        <canvas id=c>
          
        </canvas>

        <div id=cont>
          <div id='dropHere'>
            <span> Browse an image or drag it here.</span>
            <input type='file' id=imgsel>
          </div>

          <form action='/screenshot' method='GET'>
            <label for='scrSht'>Website Automatic Print-Screen</label>
            <input type='text' name='scrSht' id='scrSht' placeholder='any http:// website' />
            <button> Kolorise  </button>
          </form>
        </div>
      </main>

      <canvas id="myCanvas" style="display:none;">
        Your browser does not support the HTML5 canvas tag.
      </canvas>

      <div id='screenshotResult'>
        <% if(typeof screenshotImg != 'undefined') { %>
          <img src='/screenshots/<%= screenshotImg %>' width=800 /> aaa
          <% } %>
      </div>


      <% include ../partials-en/footer %>
        <!-- build:js h/j.js -->
        <!--[if gt IE 8]><!-->
     <script src='scripts/main.js' async defer='defer'></script>
        <script src='scripts/colorAnalysis.js'></script>
        <script src='scripts/takeScreenshot.js'></script>
        <!--<![endif]-->
        <!-- endbuild -->
  </body>

  </html>
