<!DOCTYPE html>
<% include partials/head %>
<body class="container">
  <% include partials/header %>
  <main>
    Export colors
    <hr />
    <% for(var i = 0 ; i < exportArray.length ; i++) { %>
      <%=  exportArray[i] %>
      <br />
    <% } %>
    <hr />
  </main>
  <% include partials/footer %>
</body>
</html>
