<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>10k</title>
</head>

<body>
    Load colors
    <table border=1>
      <thead>
        <tr>
          <th>Colors</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0 ; i < colors.split(",").length ; i++) { %>
          <tr>
            <td style='background-color : #<%= colors.split(",")[i] %>'><%= colors.split(",")[i] %></td>
          </tr>
        <% } %>
      </tbody>
    </table>




</body>

</html>
