<header>
  <div>
    <h1 class='logo'>
      <a href='/'>
        <svg viewBox="0 0 205 166">
  <path d="M143 .8c-31.6 0-59 17.5-73 43.4-6.4 11.7-10 25-10 39.4 0 45.8 37 83 83 83 23 0 42.5-9.3 61.4-27.5-19-18-56.4-55-56.4-55s37.4-37 56.4-55.2c-19.2-18-39.7-28-61.4-28zM14.3.5C11 .5 7.3 1.7 4.8 4c-5.3 5-5.3 13 0 17.7l17 15.4v117c0 7 6 12.7 13.2 12.7 7.4 0 13.3-5.5 13.3-12.4V35.6c0-5-.6-9.7-3.6-12.6L24 4C21 1.8 17.7.6 14.2.6z" />
</svg>
        <div>Kolors</div>
      </a>
    </h1>
    <p class='st-subtitl'>No more secret Kolors in your images!</p>
  </div>
  <nav aria-label='settings Navigation'>
    <ul>
      <li> <a href="#" class='im'>+ image/settings</a> </li>
    </ul>
  </nav>
  <nav aria-label='Main Navigation'>
    <ul>
      <li><a href='/'>ColoriZe img</a></li>
      <li class='on'><a href='/load/1abc9c,3498db,9b59b6,34495e,7f8c8d,e67e22'>result1</a></li>
      <li><a href='#'>result2</a></li>
    </ul>
  </nav>

</header>