$space:5px;
$doubleSpace:10px;
$tripleSpace:15px;
//
$colorOne: #6c3;
$colorTwo:#69f;
$colorwarning:#f03;
//
$grey: #ccc;
$lightgrey: #eee;
$lightergrey: #e9e9e9;
//
$pagebg: #eee;
$white: #fff;
$nero:#111;
//