$space:5px;
$doubleSpace:10px;
$tripleSpace:15px;
//
$colorOne: #6c3;
$colorTwo:#69f;
//
$grey: #ccc;
$lightgrey: #eee;
//
$pagebg: #eee;
$white: #fff;
$nero:#111;
//
//https://coolors.co/66cc33-3366ff-eeeeee-cccccc-111111