@charset "UTF-8";
/*----------------------------------------*/
/*  PUT THE MOST OF CSS INSIDE  ----------*/
/* ------- DO NOT COUNT IN THE 10K -------*/
/*----------------------------------------*/ 


/*    Varaibles & Mixins   */ 
@import 'variables';  
@import 'mixins';
/*----------*/
/* more or less TABLET */
@media (min-width: 30em) { 
    nav ul{ 
     flex-flow: row  nowrap;   
  }
  header,footer{ 
 /* display: flex; 
  flex-flow: column wrap; 
  justify-content: space-between;   */
} 
  header,footer{  //align-items: stretch;   
  display:flex; 
   flex-flow: row nowrap;   
} 

header nav  {      
     flex-flow: row nowrap;   
    }
    header nav  ul li    {
      display:flex;
           align-items:center;
    }   

  // 
footer nav{ 
 .on ,a:hover { 
  border-bottom: 4px solid  $colorOne;
}
}
// 
header nav{ 
 .on ,a:hover { 
  border-top: 4px solid  $colorOne;
}

}
footer{
 // background: red;
}
}


/* more or less DESKTOP */ 
@media (min-width: 60em) {    
  header {  
   align-items: stretch;    
  }  
footer{
 // background:green;
}

  
}