/*----------------------------------*/
/*  LEGGERO      LIGHT       LEGER  */
/* ------- COUNT IN THE 10K --------*/
/*----------------------------------*/ 


 /* responsive for MOBILE PHONE */ 
 /* MOBILE FIRST APPROACH  */
/*-------------------------*/
/*    Varaibles & Mixins   */

@import 'variables';
@import 'mixins';   
@import 'common';
@import 'logo'; 
   
/* -----------------------*/  

main{  /*
   @include x-multiple-colored-gradient(
          'left',
          #43a1cd 10%,
          #639b47 20%,
          #9ac147 30%, 
          #e1e23b 40%,
          #f7941e 50%,
          #ba3e2e 60%,
          #9a1d34 70%,
          #662a6c 80%,
          #272b66 90%,
               #2d559f 100%
      ); 
*/
  
   flex:1;   
    display: flex;  
    flex-flow: row wrap;  
    justify-content: center;  
    align-items: center;
    } 
 

 
main #cont{ border-radius: $space;
margin:$space;
padding:$doubleSpace;
   background:grey;
   position:absolute;  
}   

 #dropHere{  
 text-align:center;
      width: auto; 
    min-height: 137px; 
    border: 1px dashed  $lightgrey; 
    border-radius: 10px; 
    position: relative;
    color: $lightgrey; 
    cursor: pointer;
    transition: all .1s ease-in-out;
    overflow:hidden; 
     } 
     #dropHere:hover, #dropHere.onDragOver{
       color:$white; 
       background:$lightgrey;
     } 
     #imgsel {  
    opacity: 0;  
    cursor: pointer; 
    height: 100%; 
    width: 100%;
}
 

 form{
    label{
      width:100%;
      display:inline-block; 
      text-align:center; 
    }
    button,input{
      margin: 0px auto; 
    display: table;
    }
 }