/*----------------------------------*/
/*  LEGGERO      LIGHT       LEGER  */
/* ------- COUNT IN THE 10K --------*/
/*----------------------------------*/


/* responsive for MOBILE PHONE */
/* MOBILE FIRST APPROACH  */
/*-------------------------*/

/*    Varaibles & Mixins   */

@import 'variables';
@import 'mixins';
@import 'common';
@import 'logo';

/* -----------------------*/




.noscriptmsg{
    text-align: center;
    border: 1px solid  $colorwarning;
    background: $white;
    color: $colorwarning;
    border-radius:  $space;
    margin: $space;
    font-size: 0.8em;
    padding: $space; 
}    
main #cont { 
    width:90%;  
 p.dsc{
  font-size:0.9em;
  text-align: center;
  margin-bottom:$tripleSpace;
}

  label {
    margin-top: $space;
    color: $colorTwo;
    font-size: 1.2em;
  }
   
  input { 
    border-radius: $space;
    border: 1px dashed $colorTwo;
    padding: $doubleSpace;
    min-width: 50%;
    width: 100%;
    &:focus { 
  color: $white; 
      border: 1px solid $colorOne;
      box-shadow: 0 0 5px $colorOne;
      background: $colorTwo;
    }
     &:disabled {  
      background: $white; 
     opacity:0.5;
      cursor: default;
    }
  }
  button {
    border-radius: $space;
    font-size: 1.2em;
    margin-top: $tripleSpace;
    padding: $doubleSpace;
    min-width: 50%;
    width: 100%;
    color: $white;
    border: 1px solid $colorOne;
    background: $colorOne;
    cursor: pointer;
    &:hover { 
      background: $colorTwo;
    }
     &:disabled { 
        &:hover { 
      background: $colorOne;
    }
     opacity:0.5;
      cursor: default;
    }
  }
}

#dropHere { 
  width: 100%;
    height: 150px;
    background: $white;
  text-align: center;
  font-size: 1.2em; 
  border: 1px dashed $colorTwo;
  border-radius: $space;
  position: relative;
  color: $colorTwo;
  cursor: pointer;
  transition: all .1s ease-in-out;
  overflow: hidden;
  div{ 
    position:absolute;
    top:35%;
    z-index: 3;
    cursor:text;
    width: 100%;
  }
}

#dropHere:hover,
#dropHere.onDragOver {
  color: $white; 
  border: 1px solid $colorOne; 
      background: $colorTwo;
}

#imgsel {
   opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  background: red;
  border:none;
}

form {
  label {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  button,
  input {
    margin: 0px auto;
    display: table;
  }
}