@charset "UTF-8";
/*----------------------------------*/
/*  LEGGERO      LIGHT       LEGER  */
/*----------------------------------*/
/* more or less TABLET */
/*    Varaibles & Mixins   */
@import 'variables';
@import 'mixins';
/*----------*/
@media (min-width: 30em) {
  header,footer{
  flex-flow: row wrap;
}
header nav  {
     flex-flow: row nowrap;
    }
    header nav  ul li    {
      display:flex;
           align-items:center;
    }
  nav ul{
     flex-flow: row  nowrap;
  }
}
/* more or less DESKTOP */
@media (min-width: 60em) {
  header {
   align-items: stretch;
  }
}
/*----------------------------------*/
/*  LEGGERO      LIGHT       LEGER  */
/*----------------------------------*/
