/*----------------------------------*/
/*  LEGGERO      LIGHT       LEGER  */
/*----------------------------------*/
/* more or less TABLET */
/*    Varaibles & Mixins   */
/*----------*/
@media (min-width: 30em) {
  header, footer {
    flex-flow: row wrap;
  }
  header nav {
    flex-flow: row nowrap;
  }
  header nav ul li {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
  }
  nav ul {
    flex-flow: row  nowrap;
  }
}

/* more or less DESKTOP */
@media (min-width: 60em) {
  header {
    -webkit-box-align: stretch;
                -ms-grid-row-align: stretch;
            align-items: stretch;
  }
}

/*----------------------------------*/
/*  LEGGERO      LIGHT       LEGER  */
/*----------------------------------*/
