header {
  width: 100%;
  padding: 5px 0 0 0;
  overflow: hidden;
  border-bottom: solid #ccc 1px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.05);
  background: white;
}

header:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: -webkit-linear-gradient(left, black 0%, yellow 50%, green 100%);
  background: linear-gradient(to right, black 0%, yellow 50%, green 100%);
}

.blured {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  border-top: solid #ccc 1px;
  background: #fff;
  color: grey;
}

#result ul li {
  display: inline-block;
  height: 90px;
  width: 90px;
}

/* from akapart */
body {
  font-size: 1.0rem;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #232323;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  margin: 0 auto;
  min-width: 240px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  min-height: 100vh;
  background: -webkit-linear-gradient(left, #fff 0%, #ccc 100%);
  background: linear-gradient(to right, #fff 0%, #ccc 100%);
}

body {
  background: -webkit-linear-gradient(left, #f22 0%, #f2f 15%, #22f 30%, #2ff 45%, #2f2 60%, #2f2 75%, #ff2 90%, #f22 100%);
  background: linear-gradient(to right, #f22 0%, #f2f 15%, #22f 30%, #2ff 45%, #2f2 60%, #2f2 75%, #ff2 90%, #f22 100%);
}

h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 500;
  line-height: 1.1;
  clear: both;
}

main {
  -webkit-box-flex: 1;
          flex-grow: 1;
  padding: 0 .5em;
  margin: 1.375rem auto 0;
}

footer {
  background: #fff;
  color: #069;
  margin-top: 1.375rem;
  padding: 1.375rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;
}

/*-----------*/
@-webkit-keyframes beacon {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.35);
  }
  100% {
    box-shadow: 0 0 0 2rem transparent;
  }
}
@keyframes beacon {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.35);
  }
  100% {
    box-shadow: 0 0 0 2rem transparent;
  }
}

.chip {
  background: #f3f4f5;
  color: #23292C;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  display: -webkit-box;
  display: flex;
  flex-flow: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-shadow: 0 0.2em 0.35em -0.15em rgba(35, 41, 44, 0.5);
}

.beacon-2 {
  -webkit-animation: beacon 1s infinite linear;
  animation: beacon 1s infinite linear;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
