/*----------------------------------*/
/*  LEGGERO      LIGHT       LEGER  */
/*----------------------------------*/
/* more or less TABLET */
/*    Varaibles & Mixins   */
/*----------*/
@media (min-width: 30em) {
  header, footer {
    flex-flow: row wrap;
  }
  header nav {
    flex-flow: row nowrap;
  }
  header nav ul li {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
  }
  nav ul {
    flex-flow: row  nowrap;
  }
}

/* more or less DESKTOP */
@media (min-width: 60em) {
  header {
    -webkit-box-align: stretch;
                -ms-grid-row-align: stretch;
            align-items: stretch;
  }
  main #res {
    background: -webkit-linear-gradient(left, #f22 0%, #f2f 15%, #22f 30%, #2ff 45%, #2f2 60%, #2f2 75%, #ff2 90%, #f22 100%);
    background: linear-gradient(to right, #f22 0%, #f2f 15%, #22f 30%, #2ff 45%, #2f2 60%, #2f2 75%, #ff2 90%, #f22 100%);
  }
  main ul {
    flex-flow: row;
    -webkit-box-align: end;
                -ms-grid-row-align: flex-end;
            align-items: flex-end;
  }
}

/*----------------------------------*/
/*  LEGGERO      LIGHT       LEGER  */
/*----------------------------------*/
