/*----------------------------------*/
/*  LEGGERO      LIGHT       LEGER  */
/* ------- COUNT IN THE 10K --------*/
/*----------------------------------*/ 


 /* responsive for MOBILE PHONE */
 /* MOBILE IFRST APPROACH  */
/*-------------------------*/
/*    Varaibles & Mixins   */

@import 'variables'; 
@import 'mixins';
@import 'common';
@import 'logo';

/* -----------------------*/
 
 
  
    main #res{
     
    /*   @include x-multiple-colored-gradient(
          'top',
          #f22 0%,
          #f2f 15%,
          #22f 30%, 
          #2ff 45%, 
          #2f2 75%,
          #ff2 100%   
      ); */ 
    }
main{  
   display: flex;  
    flex-flow: column ;   
   flex:1;  
} 
  main #res  {   
       //RESULTS  
 display: flex;
 flex-flow: column;
   flex:1; 
    align-items: center;  
 justify-content: space-around;

 li{  
   //each circle
     margin:3px; 
 font-size:0.8em;
 color:$white; 
 text-align: center; 
 }
  } 
   /**/
    nav ul li  a:focus { 
      cursor:default; 
     color:$colorTwo;
     background: $grey;
     border:none;
  }
  
/*---*/
  #export,#settings{
display:none;
background: $lightergrey;
  border-bottom: 1px solid $colorOne;
  padding:$space;
      
  }


/*------------*/
  
main #res   li{  
		height: 58px; 	
		width: 58px; 
    padding-top:15px;
		border-radius: 50%; 
		border-bottom: 5px solid rgba(0, 0, 0, .1);    
		cursor: pointer;
		transition-duration: .2s;
		box-shadow: 1px 2px 1px rgba(0, 0, 0, .2); 
		&:hover{
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
			border-bottom: 10px solid rgba(0, 0, 0, .15);
			box-shadow: 0 10px 10px rgba(0, 0, 0, .2); 
		}  
 
}
