/*----------------------------------*/
/*  LEGGERO      LIGHT       LEGER  */
/* ------- COUNT IN THE 10K --------*/
/*----------------------------------*/ 


 /* responsive for MOBILE PHONE */
 /* MOBILE IFRST APPROACH  */
/*-------------------------*/
/*    Varaibles & Mixins   */

@import 'variables'; 
@import 'mixins';
@import 'common';
@import 'logo';

/* -----------------------*/
 
 
  
    main #res{
     
    /*   @include x-multiple-colored-gradient(
          'top',
          #f22 0%,
          #f2f 15%,
          #22f 30%, 
          #2ff 45%, 
          #2f2 75%,
          #ff2 100%   
      ); */ 
    }
main{  
   display: flex;  
        flex-flow: column ;   
   flex:1;  
} 
  main  ul  {     
 display: flex;
 flex-flow: column;
    flex:1; 
    align-items: flex-start;  
 justify-content: space-between;
 li{    margin:3px; color:white; }
  } 
   /**/
    nav ul li  a:focus { 
      cursor:default; 
     color:$colorTwo;
     background: $grey;
     border:none;
  }
  

/*------------*/
  
.colors{ 
	>li{ 
		height: 58px; 	
		width: 58px; 
		border-radius: 50%;
		border-bottom: 5px solid rgba(0, 0, 0, .1);   
		cursor: pointer;
		transition-duration: .2s;
		box-shadow: 0 2px 1px rgba(0, 0, 0, .2); 
		&:hover{
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
			border-bottom: 10px solid rgba(0, 0, 0, .15);
			box-shadow: 0 10px 10px rgba(0, 0, 0, .2); 
		}  
	}
}
