<html id='' lang='en'>

<head>
  <meta charset='utf-8'>
  <title>structure</title>
  <meta name='viewport' content='width=device-width,initial-scale=1'>
  <meta name='MobileOptimized' content='width'>
  <meta name='HandheldFriendly' content='true'>
  <link rel='apple-touch-icon' href='images/icon-152.png'>
  <meta name='msapplication-TileImage' content='images/icon-144.png'>
  <meta name='msapplication-TileColor' content='#FFFFFF'>
  <link rel='manifest' href='manifest.json'>
  <meta property='og:site_name' content='10k Apart'>
  <meta property='og:title' content='10k Apart'>
  <meta property='og:description' content='Inspiring the Web with Just 10k'>
  <meta property='og:url' content='http://aldoferrari.com'>
  <meta property='og:type' content='website'>
  <meta property='og:image' content='images/logo.jpg'>
  <meta name='twitter:card' value='summary'>
  <meta name='twitter:site' value='@MSEdgeDev'>
  <meta name='description' content=''>
   <!-- build:css s/ry.css -->
   <!-- COUNT in the 10k -->
  <link rel='stylesheet' href='/static/styles/results_COUNT.css' media='only screen'>
  <!-- endbuild -->
  <!-- build:css s/rn.css -->
  <!-- DO NOT COUNT in the 10k -->
  <link rel='stylesheet' href='/static/styles/results_NOcount.css'>
  <!-- endbuild -->
</head>